<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="PyISAPIe" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\pyisapie\PyISAPIe.dll" resourceType="Unspecified" preCondition="bitness32" />
        </handlers>
    </system.webServer>
</configuration>
